{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@global-constants": "./lib/constants",
        "@global-utils": "./lib/utils",
        "@tw-executors": "./lib/tw",
        "@custom-emitter": "./lib/custom-emitter"
      }
    }]
  ]
}
