# API
API_TOKEN='11235813'
NODE_ENV='development'
HOST='localhost'
PORT='3018'
SERVER_URL='http://localhost:3018'
GOOGLE_DOC_PRIVATE_KEY=XXX
GOOGLE_DOC_CLIENT_EMAIL=some-email

# LOCAL
MONGO_URL=mongodb://localhost:27017/tw-2-admin

#TW CONFIG
AUTH_NAME='your-username'
AUTH_TOKEN='your-token'
WORLD_NAME='world-name'

